.srcdiv {
  width: 100%;
  height: 12vh;
  border: 1px solid #fff;
  box-shadow: 0px 0px 10px #efecec;
  margin-left: 0;
  align-items: center;
  display: flex;
}

.buscar-box {
  width: 151rem;
  height: 6rem;
  border-radius: 10px;
  background-color: rgb(0, 68, 67);
  margin-left: 60rem;
  margin-top: 1rem;
  font-size: 2.5rem;
  border: 1px solid #fff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.buscar-box .lupa-buscar {
  margin-left: 1rem;
  margin-top: 0.1rem;
  cursor: pointer;
}

.buscar-box .lupa-buscar i {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.5);
}

.buscar-box .input-buscar {
  position: absolute;
  right: 4rem;
  margin-top: 1rem;
  width: 80%;
}

.buscar-box .input-buscar input {
  background-color: #004443;
  border: 0;
  outline: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  width: 100%;
}

#src::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.5rem;
}

ul {
  list-style-type: none;
  overflow: auto;
  width: 100%;
}

.item-src {
  margin-left: 35rem;
  margin-top: 3rem;
}

.item-src.expandir {
  width: 56.8rem;
  height: 55rem;
}

.srcdiv .item-src spam {
  background-color: #00755c;
  width: 7rem;
  height: 6.5rem;
  border-radius: 25%;
  list-style-type: none;
  align-items: center;
  margin-left: 22rem;
  cursor: pointer;
  display: flex;
  float: left;
}

.srcdiv .item-src spam:hover {
  background-color: #004443;
  width: 7rem;
  height: 6.5rem;
  border-radius: 25%;
  list-style-type: none;
  align-items: center;
  cursor: pointer;
}

.srcdiv .item-src .iconsrc {
  margin-left: 3rem;
}
.srcdiv .item-src .iconsrc > i {
  font-size: 4.1rem;
  color: #fff;
  margin-left: 1.4rem;
  margin-top: 0.5rem;
}

.srcdiv .item-src .iconsrc > i:hover {
  font-size: 4.1rem;
  color: #8a8989;
}

/* Home */

.center {
  width: 512px;
  height: auto;
  background-color: #c8bebe;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 60rem;
  position: relative;
}

.content-post {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  background-color: #fff;
}

.foto-profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #000;
}
.btnFollow {
  background-color: #01e581;
  color: #fff;
  border-radius: 10px;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  width: 10rem;
  height: 2rem;
  margin-left: 200px;
}
.conteudo-post{
    height: auto;
    width: 100%;
    background-color: #000;
}
.top-post{
    width:100%;
    height: 50px;
    display: flex;
    flex-flow:row;
    background-color: aqua;
    align-items: center; 
}
.footer-post{
    width:100%;
    height: 50px;
    display: flex;
    flex-flow:row;
    background-color: aqua;
}